
        
            <label class="control-label" >Bước 2: Check vào plan muốn chuyển</label>
             <div class="table-responsive mailbox-messages">
                  <a onclick="$(this).parent().find(':checkbox').prop('checked', true);"><?php echo $text_select_all; ?></a>/ <a onclick="$(this).parent().find(':checkbox').prop('checked', false);"><?php echo $text_unselect_all; ?></a>
                <table class="table table-hover table-striped">
                 <tbody>
                 	<tr>
                    <td width="1">#</td>
                    <td></td>
                    <td>Store Code</td>
                    <td>Store Name</td>
                    <td>NV thực hiện</td>
                    </tr>
                 </tbody>
                  <tbody>
            <?php
            $i=0;
             foreach ($plans as $plan) {
             $i++;
              ?>
                  <tr>
                    <td width="1"><?php echo $i;?></td>
                    <td>
<input type="checkbox" name="plan_ids[]" value="<?php echo $plan['plan_id']; ?>" id="pl<?php echo $plan['plan_id']; ?>"/></td>
                    <td class="mailbox-name"> 
                    <label class="control-label" for="pl<?php echo $plan['plan_id']; ?>">
                    <b><?php echo $plan['store_code']; ?> </b>
                    </label>
                    </td>
                    <td class="mailbox-subject">
                    <label class="control-label" for="pl<?php echo $plan['plan_id']; ?>">
                    <b><?php echo $plan['store_name']; ?> </b> <br/>  <small><?php echo $plan['store_address_raw']; ?></small>
                    </label>
                    </td>
                    <td class="mailbox-date">
                    <label class="control-label" for="pl<?php echo $plan['plan_id']; ?>">
                    <small><?php echo $plan['usercode']; ?> - <?php echo $plan['fullname']; ?></small>
                    </label>
                    </td>
                  </tr>

                      
            <?php } ?>
            </tbody>
            </table>
            </div><!--//table-responsive--> 
            </div>
            
              <div class="form-group" style="min-width:400px;">
            <label class="control-label" for="to_user">Bước 3: Chọn Nhân viên nhận plan</label>
            <select name="to_user_id" id="to_user_id" class="form-control chosen">
                      <?php foreach ($relate_users as $staff) { ?>
                      <?php if($staff['plan_total']>0&&$staff['user_id']!=$filter_user) { ?>
    <option value="<?php echo $staff['user_id']; ?>"><?php echo $staff['usercode']; ?> - <?php echo $staff['fullname']; ?> (<?php echo $staff['plan_total'];?>) </option>
                      <?php } ?>
                      <?php } ?>
            </select>
          </div>
              <!--form group --> 