 <?php if($plan_info['reason_id']==0){?>
<?php if($distributor_info['coupon_check']==1){?>
 <div class="box-header">
        <h3 class="box-title"><?php echo $heading_reward; ?></h3>
        <h3 class="box-title pull-right"> <span class="">MÃ CH: #<?php echo $plan_info['store_code'];?></span> 
         <?php if($user_id==1){?>- <span class="">NV: #<?php echo $plan_info['usercode'];?></span>
               <?php } ?>
         
         </h3>
      </div>
      <?php if ($distributor_info['coupon_check']==1&&in_array($user_group_id,$group_edit)){?>
       <div class="box-header clearfix" id="coupon_add">
      <div class="col-sm-2">
         <select name="coupon[yearmonth]" class="form-control" style="min-width:120px;">
               <?php foreach($yearmonths as $yearmonth){?>
                  <option value="<?php echo $yearmonth;?>"><?php echo $yearmonth;?></option>
               <?php } ?>
              </select>
      
      </div>
            <div class="col-sm-4">
         <select name="coupon[coupon_prefix]" class="form-control" style="min-width:120px;">
               <?php foreach($prefixs as $prefix){?>
                  <option value="<?php echo $prefix['coupon_prefix'];?>"><?php echo $prefix['prefix_title'];?> (<?php echo $prefix['prefix_value'];?>) </option>
               <?php } ?>
              </select>
      
      </div>
      
      <div class="col-sm-6 pull-right">
         <div class="input-group btn-block">
              <div class="input-group-btn">
              <select name="coupon[reward_type_id]" class="form-control" style="min-width:150px;">
               <?php foreach($reward_types as $type){?>
                 <?php if(in_array($type['reward_type_id'],$reward_type_allow_add)){?>
                  <option value="<?php echo $type['reward_type_id'];?>"><?php echo $type['reward_type_name'];?></option>
                   <?php } ?>
               <?php } ?>
              </select>
              </div>
               
                  
              <span class="input-group-btn">
    <button type="button" onclick="addCoupon();" id="button-coupon" class="btn btn-primary" data-loading-text="<?php echo $text_loading; ?>"><i class="fa fa-plus"></i> <?php echo $button_add; ?></button>
              
              </span>
                 </div>
              </div>
              
              
            </div>
            
      <?php } ?>
            
      <div class="box-body">
                    <div class="clearfix">
                     <table class="table">
                   <thead>
                       <tr>
                       <td class="text-left" width="100">Mã Test</td>
                       <td><?php echo $text_month;?></td>
                       <?php if($user_id==1){?>
                       <td>#</td>
                       <?php } ?>
                       <td><?php echo $text_coupon_code;?></td>
                       <td class="text-center"><?php echo $text_status;?></td>
      <?php if (in_array($user_group_id,$group_edit)){?>
                       <td class="text-center"><?php echo $text_action;?></td>
      <?php } ?>
            
                       </tr>
                   </thead>
            
<textarea name="data_old" style="display:none;"><?php echo json_encode($plan_coupons);?></textarea>       
             <?php
             
             $status = array();
             $paid = array();
              foreach($reward_types as $type){?>
              
               
                 <?php if(in_array($type['reward_type_id'],$reward_type_allow_view)){?>
               <thead>
                       <tr>
                       <td colspan="4" class="text-center"><h4><?php echo $type['reward_type_name'];?></h4></td>
                       </tr>
                   </thead>
                  
                   <tbody>
                  
             <?php
              foreach($plan_coupons as $coupon){
              
              ?>
             
                 <?php
                  $rating_manual = -1;
                 $is_survey = isset($survey[$coupon['coupon_prefix']])?true:false;
                 
                  $passed = false;
                  
                 //Tháng Trả thưởng 'yearmonth' = 'round_name' và Rating == Đạt || Required == False ||
                 if($is_survey==1&&$coupon['yearmonth']==$survey[$coupon['coupon_prefix']]['round_name']&&$survey[$coupon['coupon_prefix']]['rating_manual']==1||($plan_info['plan_status']==1&&$plan_info['reason_id']==0&&$coupon['required']==0)){
                  	$passed = true;
                    
                 }
                 
                 //Tháng Trả thưởng 'yearmonth' != 'round_name' và Required == Đạt
                 else{
                 	$passed = true;
                 }
                 
                 
                  if($coupon['reward_type_id']==$type['reward_type_id']&&$coupon['user_id']>0){  ?>
                 
                 <?php                  
                $paid[] =  ($coupon['coupon_status_id']==$config_coupon_has_paid)?1:0;
                $status[] =  (in_array($coupon['coupon_status_id'],$valid))?0:1;
                 ?>
                 <tr>
                    <td class="text-left" width="100">
                    <small>
                    Test: <?php echo $coupon['coupon_beta'];?><br/> 
                    NV: <?php echo $coupon['coupon_confirm'];?>
                       </small>
                    </td>
                       
                      	<td><?php echo $coupon['yearmonth'];?>
                        
                
                        <input name="coupons[<?php echo $coupon['coupon_history_id'];?>][yearmonth]" type="hidden" value="<?php echo $coupon['yearmonth'];?>" />
                        
                        <input name="coupons[<?php echo $coupon['coupon_history_id'];?>][reward_type_id]" type="hidden" value="<?php echo $coupon['reward_type_id'];?>" />
                     </td>
                     
                       <?php if($user_id==1){?>
                       <td><?php echo $coupon['coupon_history_id'];?></td>
                       <?php } ?>
                       
                     	<td>
                <div class="input-group"><span class="input-group-addon"><?php echo $coupon['coupon_prefix'];?></span>
                        <input 
                        type="text" 
                        name="coupons[<?php echo $coupon['coupon_history_id'];?>][coupon_code]" 
                        value="<?php echo ($plan_info['plan_status']>0&&$passed == true)?strtoupper($coupon['coupon_code']):'';?>" 
                        data-id="<?php echo $coupon['coupon_history_id'];?>" 
                        class="coupon_input form-control" <?php echo ($passed == true)?'':'disabled';?>/>
                        
                        </div>
                        <?php if(!empty($coupon['coupon_code'])&&!empty($coupon['message']&&$plan_info['plan_status']>0)){?>
                        <b class="clearfix <?php echo (in_array($coupon['coupon_status_id'],$valid))?'text-success':'text-error';?>"><?php echo $coupon['message'];?></b>
                        <?php } ?>
                        
                        <?php if(!empty($coupon['double_id'])){?>
                        <a href="<?php echo $plan_link.$coupon['double_id'];?>" target="_blank" class="badge alert-promary">#<?php echo $coupon['double_id'];?></a>
                        <?php } ?>
                        
                        </td>
                     	<td class="text-center">
                        <?php if($coupon['reward_type_id']==$config_reward_audit){?>
                            <?php if($passed == true){?>
                            <span class="badge alert-success"></span>
                            <i class="fa fa-check text-success"></i>
                            <?php }else{?>
                            <i class="fa fa-times text-error"></i>
                           <?php }?>
                        <?php }else{?>
                        
                        <i class="fa fa-<?php echo (in_array($coupon['coupon_status_id'],$valid))?'check text-success':'times text-error';?>"></i>
                        
                        
                        <?php }?>
                        
                        
                     </td>
      <?php if (in_array($user_group_id,$group_edit)&&$coupon['is_manual']==1){?>
                     <td>
                <a class="btn btn-danger color-red" onclick="deleteCoupon('<?php echo $coupon['coupon_history_id']; ?>');"><i class="fa fa-trash"></i></a>     
      				</td>
                 <?php } ?>
                  </tr>
                 <?php } ?>
                 <?php } ?>
               
                    <tbody>
             <?php } ?>
             
                    <thead>
             <?php } ?>
             
             
             </table>
                
             
			</div>
   
      </div>

      <div class="box-footer clearfix">
            <input type="hidden" name="user_group_id" value="<?php echo $user_group_id;?>" />
            <input type="hidden" name="user_id" value="<?php echo $user_id;?>" />
  <div class="row">
      <div class="col-sm-8 col-xs-12 message" id="coupon_message">
      
<?php if ($error) { ?>
	<div class="alert alert-danger alert-sm"><i class="fa fa-exclamation-circle"></i> <?php echo $error; ?>
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
<?php } ?>
<?php if ($success) { ?>
	<div class="alert alert-success alert-sm"><i class="fa fa-exclamation-circle"></i> <?php echo $success; ?>
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
<?php } ?>
      </div>
      <div class="col-sm-4 col-xs-12">
    
     <?php  if(!empty($status)&&in_array(1,$status)){?>
      
    <button type="button" onclick="checkCoupon('check')" class="btn btn-warning pull-right button-reward" data-loading-text="<?php echo $text_loading; ?>"><i class="fa fa-check"></i> <?php echo $button_check; ?></button> 
    
		<?php }else{  ?>  
    <button type="button" onclick="checkCoupon('upload')" class="btn btn-success pull-right button-reward" data-loading-text="<?php echo $text_loading; ?>"><i class="fa fa-check"></i> <?php echo $button_check; ?></button> 
    <?php } ?>
              
        <!--
         <?php if(!empty($paid)&&in_array(0,$paid)){?>
        <button type="button" onclick="checkCoupon('upload')" class="btn btn-primary pull-right button-reward" data-loading-text="<?php echo $text_loading; ?>"><i class="fa fa-check"></i> <?php echo $text_reward; ?></button>
         <?php } ?>
                //--> 
              </div><!-- //col--> 
              
              </div><!-- //row--> 
              
            </div>
<script type="text/javascript"><!--
function deleteCoupon(coupon_id){
      $('#modal-coupon').modal('show');
      $('#btn-modal-coupon').click(function(event) {
        event.preventDefault();
          $('#modal-coupon').modal('hide');
		  $.ajax({
				url:'<?php echo $delete; ?>'+coupon_id,
				dataType: 'json',
				success: function(json) {
					if(json['success']){
						$('#plan_coupon').load('index.php?route=plan/plan_coupon/info&plan_id=<?php echo $plan_id;?>');	
					}
				}
			});
      });
    }
function addCoupon() {
		$.ajax({
			url: 'index.php?route=plan/plan_coupon/add&plan_id=<?php echo $plan_id;?>',
			type: 'post',
			dataType: 'json',
			data: $('#coupon_add input[type=\'text\'], #coupon_add input[type=\'hidden\'], #coupon_add input[type=\'radio\']:checked, #coupon_add input[type=\'checkbox\']:checked, #coupon_add select, #coupon_add textarea'),
			beforeSend: function() {
				$('.button-reward').button('loading');
			},
			complete: function() {
				$('.button-reward').button('reset');
			},
			success: function(json) {
				if (json['error']) {
					$('#coupon_message').html('<div class="alert alert-danger alert-sm"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
	
				if (json['success']) {
					$('#plan_coupon').load('index.php?route=plan/plan_coupon/info&plan_id=<?php echo $plan_id;?>');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
}

function checkDouble() {
    var coupon_ids = [];
    $(".coupon_input").each(function (index, el1) {
        var current_val = $(el1).val();
        if (current_val != "") {
            if(coupon_ids.indexOf(current_val) === -1){
				 coupon_ids.push(current_val);
            } else {
				$(el1).parents('td').find('b').remove();
				$.ajax({
						type: 'POST',
						url: 'index.php?route=plan/plan_coupon/double&plan_id=<?php echo $plan_id;?>',
						dataType: 'json',
						data: 'coupon_history_id=' + $(el1).attr('data-id')+'&coupon_code=' + current_val,
						success: function(json) {
							if (json['message']) {
				   $(el1).parents('td').append('<b class="clearfix text-error">'+json['message']+'</b>');
				   $('#coupon_message').html('<div class="alert alert-danger alert-sm"><i class="fa fa-exclamation-circle"></i> ' + json['message'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			   
							}
						}
				});
            }
        }
    });
}
function checkCoupon(type) {
		$.ajax({
			url: 'index.php?route=plan/plan_coupon/save&plan_id=<?php echo $plan_id;?>&type='+type,
			type: 'post',
			dataType: 'json',
			data: $('#plan_coupon input[type=\'text\'], #plan_coupon input[type=\'hidden\'], #plan_coupon input[type=\'radio\']:checked, #plan_coupon input[type=\'checkbox\']:checked, #plan_coupon select, #plan_coupon textarea'),
			beforeSend: function() {
				$('.button-reward').button('loading');
			},
			complete: function() {
				$('.button-reward').button('reset');
			},
			success: function(json) {
				if (json['error']) {
					$('#coupon_message').html('<div class="alert alert-danger alert-sm alert-sm"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
	
					$('#plan_coupon').load('index.php?route=plan/plan_coupon/info&plan_id=<?php echo $plan_id;?>');
				
				if (json['success']) {
					checkDouble();
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
}

//checkDouble();
//--></script>    
 <?php }else{ ?> 
  <div class="box-header">
        <h3 class="box-title"><?php echo $heading_reward; ?></h3>
  </div>
  <div class="box-body">
      <div class="alert alert-warning alert-sm"><i class="fa fa-exclamation-circle"></i> Cửa hàng này thuộc NPP không dùng Coupon!</div>
  </div>
 <?php } ?>
 <?php }else{ ?> 
      <div class="box-header">
            <h3 class="box-title"><?php echo $heading_reward; ?></h3>
      </div>
      <div class="box-body">
          <div class="btn btn-block btn-default btn-sm"><i class="fa fa-exclamation-circle"></i> KTC - không nhập!</div>
      </div>
 <?php } ?>