<style>
   td.fill_red,
  .fill_red td{background-color: #F66; color:#fff;}
  .bg-grey{background-color:#999;}
  td.fill_blue,
  .fill_blue td{background-color: #7F7FFF; color:#fff;}
  td.fill_grey,
  .fill_grey td{background-color:#ddd;font-weight:600}
  .red{color:#f00;}
  .blur{color:#999;}
  .table-list thead tr td{ font-weight:600;}
  .table > thead > tr > td {
    vertical-align: middle;
  }
   .progress {
   background-color: #838383; 
   }
   .spannote{
   font-size:8px;
   color:#3c8dbc;
   }

   #progress-user .modal-dialog {
   width: 85% !important;
   }
   .tr_info.is_read .store_title{
   color:#800000;
   }

</style>
<div class="container-fluid" style="margin-top: 10px">
  <div class="message" id="main_message">
    <?php if (!empty($error_warning)) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
       <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if (!empty($success)) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
       <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
  </div>
  <div class="box box-info" id="filter-area">
    <div class="box-header">
       <h3 class="box-title pull-right"><button type="button" id="button-clear" class="btn btn-primary btn-sm"><i class="fa fa-eraser"></i> <?php echo $button_clear; ?></button></h3>
    </div>
    <div class="panel-body">
       <div class="row">
          <!--col -->
          <div class="col-sm-3">
             <div class="form-group">
                <label class="control-label" for="filter_date"><?php echo $text_date; ?></label>
                <div class="input-group">
                   <input type="text" class="form-control datepicker filter" name="filter_date" value="" onchange="filter()" placeholder="YYYY-MM-DD" />
                   <a class="input-group-addon" onclick="$('input[name=\'filter_date\']').val('<?=date('Y-m-d H:i:s')?>');javascript:filter();">
                   <small><?php echo $text_today;?> </small>
                   </a>
                </div>
                <!--group -->
             </div>
          </div>
          <!--col -->
          <!--col -->
       </div>
       <!--row -->
    </div>
    <!--panel-body -->
  </div>
  <?php foreach($field_leaders as $fl) { ?>
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">FL - <?=$fl['fullname']?></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive" style="margin-bottom:10px;">
        <table class="table table-bordered table-hover table-list">
          <thead class="fill_blue">
            <tr>
              <td rowspan="2" class="text-center" width="1">USERCODE</td>
              <td rowspan="2" class="text-center">SUP - PG</td>
              <td class="text-center" colspan="3">NGÀY <?=$date?></td>
              <td class="text-center" colspan="2">THÁNG <?=$month?></td>
            </tr>
            <tr>
              <td class="text-center">Checkin</td>
              <td class="text-center">Đơn hàng</td>
              <td class="text-center">Doanh số</td>
              <td class="text-center">Đơn hàng</td>
              <td class="text-center">Doanh số</td>
            </tr>
          </thead>
          <tbody>
            <tr class="fill_red">
              <td class="text-center"><?=$fl['usercode']?></td>
              <td class="text-center">FL - <?=$fl['fullname']?></td>
              <td class="text-center"></td>
              <td class="text-center"><?=$fl['day_order_number']?></td>
              <td class="text-center"><?=$fl['day_order_price']?></td>
              <td class="text-center"><?=$fl['month_order_number']?></td>
              <td class="text-center"><?=$fl['month_order_price']?></td>
            </tr>
            <?php 
              if (!empty($fl['users'])) {
              foreach($fl['users'] as $user) { 
              $link_pmonth = 'index.php?route=plan/plan&round_name='.$month;
              $link_pmonth .= $user['project_user_group'] == 9 ? '&sup_id='.$user['user_id'] : '&user_id='.$user['user_id'];
            ?>
            <?php if ($user['project_user_group'] == 9) { ?>
            <tr>
              <td colspan="7"><br></td>
            </tr>
            <?php } ?>
            <tr class="<?=$user['project_user_group'] == 9 ? 'fill_grey' : '' ?>">
              <td class="text-center">
                <strong><?=$user['usercode']?></strong>
                <br> 
                <a href="<?=$link_pmonth?>" target="_blank">
                  <span class="spannote"><?=$user['user_id']?></span>
                </a>
              </td>
              <td>
                <a onclick="modalPlans(<?=$user['user_id']?>,<?=$user['project_user_group']?>,'<?=$user['fullname']?>')"><strong><?=$user['fullname']?></strong></a> - <?=$user['telephone']?>
                <br>
                <span class="label label-default">App: <?php echo $user['app_version'];?></span>  &nbsp; 
                <span id="ostaff<?php echo $user['user_id'];?>">
                  <small class="label label-default" ><?php echo $user['request_count'];?></small> 
                  Device:<?php echo $user['device_model'];?>
                </span>
                <?php if($hasEdit){?> 
                 - Imei:<?php echo $user['device_imei'];?>
                 <?php if($user['new_imei']!=$user['device_imei']&&$user['new_imei']!=''){?><br/> 
                 <span style="margin-top:10px;" id="nstaff<?php echo $user['user_id'];?>" class="badge">New :<?php echo $user['new_model'];?>  - Imei:<?php echo $user['new_imei'];?>
                 <a onclick="approveDevice('<?php echo $user['user_id'];?>','1')" class="btn btn-xs btn-success"><?php echo $text_approved;?></a>
                 <a onclick="approveDevice('<?php echo $user['user_id'];?>','0')" class="btn btn-xs btn-danger">Từ chối</a>
                 </span> 
                 <?php } ?>
                 <?php } ?>
              </td>
              <td class="text-center">
                <?=implode('<br>',$user['checkin'])?>
              </td>
              <td class="text-center"><?=$user['day_order_number']?></td>
              <td class="text-center"><?=$user['day_order_price']?></td>
              <td class="text-center"><?=$user['month_order_number']?></td>
              <td class="text-center"><?=$user['month_order_price']?></td>
            </tr>
            <?php }} ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <?php } ?>
</div>

<script type="text/javascript"><!--
   function approveDevice(user_id,status){
   
    $.ajax({
   
        type: 'POST',
   
        url: 'index.php?route=plan/progress/approveDevice',
   
        dataType: 'json',
   
        data: 'user_id=' + user_id+'&status=' + status,
   
        beforeSend: function(){
   
        },
   
        success: function(json) {
   
          if(json['success']){
   
            $('#ostaff'+user_id).remove();
   
            $('#nstaff'+user_id+' a').remove();
   
          }
   
            }
   
       });
   
   }
   
   
   
   
   
   
   
     $(document).ready(function(){
   
       <?php if(!empty($filter_global)){?>
   
       $("td span:contains(<?php echo $filter_global;?>)").css({"color":"red","background":"yellow"});
   
       <?php } ?>
   
     
   
       $('.input-daterange').datepicker({
   
         format: "yyyy-mm-dd",
   
       });
   
     });
   
     
   
      //  function filter() {
   
      //    url = 'index.php?route=plan/progress';
   
      // var filter_round_name = $('select[name=\'filter_round_name\']').val();
   
     
   
      //    if (filter_round_name != '*') {
   
      //      url += '&filter_round_name=' + encodeURIComponent(filter_round_name);
   
      //    }
   
     
   
      //    var filter_date = $('input[name=\'filter_date\']').val();
   
     
   
      //    if (filter_date) {
   
      //      url += '&filter_date=' + encodeURIComponent(filter_date);
   
      //    }
   
     
   
     
   
      //    location = url;
   
      //  }
   
     
   
     
   
       //-->
   
</script>
<div id="progress-user" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">
            </h4>
         </div>
         <div class="modal-body">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-warning pull-right btn-sm" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
  function modalPlans(user_id,user_group_id,fullname) {
    console.log(user_id,user_group_id)
    var href = 'index.php?route=plan/plan/getPlans&date_from=<?=$date?>&date_to=<?=$date?>';
    if (user_group_id == 9) {
      href += '&sup_id='+user_id;
    } else {
      href += '&user_id='+user_id;
    }
   $.ajax({
   
    url: href,
   
    dataType: 'html',
   
    beforeSend: function(){},
   
    success: function(html) {
   
        $('#progress-user').find('.modal-body').html(html); 
   
        $('#progress-user').find('.modal-title').html(fullname); 
   
        $('#progress-user').find('.box-header').remove();
   
        $('#progress-user').find('.box').attr('class','row');
   
        $('#progress-user').modal('show');  
   
    }
   
   });
   
   }
   
</script>