<style>

.badge{ font-size:13px; padding:3px 8px;}

small.help{

	color:#999;

}



span.fullname{ font-size:16px; font-weight:600;}





</style>



<style>

  .img-thumbnail img{max-width:50px;}

</style>



<script type="text/javascript"><!--

    function decodeVal(encode_val){

      $('#modal-pass').modal('show');

      $('#btn-modal-pass').click(function(event) {

        event.preventDefault();

		  $.ajax({

				url:'index.php?route=plan/plan/decodeVal',

				type: 'POST',

				dataType: 'json',

				data: 'hidden_key=' + $('#hidden_key').val()+'&encode_val=' + encode_val,

				success: function(json) {

					if(json['success']){

						$('#message').html('<div class="alert alert-success alert-sm"><i class="fa fa-check-circle"></i> '+json['success']+'<button type="button" class="close" data-dismiss="alert">×</button></div>');

					

						if(json['decode_val']) {

							$('#decode_val').val(json['decode_val']);

						}

					}

					if(json['error']){

						$('#message').html('<div class="alert alert-danger alert-sm"><i class="fa fa-check-circle"></i> '+json['error']+'<button type="button" class="close" data-dismiss="alert">×</button></div>');

					}

				}

			});

      });

    }

    //-->

</script>



  

<div id="content">

  <div class="container-fluid">

  

  	

    <form method="post" enctype="multipart/form-data" id="form-project">



      <div class="row">

        <div class="col-sm-3">

       

           <div class="box box-info" id="filter-area">

  

    <div class="box-header">

      <h3 class="box-title"> <?php echo $heading_title; ?></h3>  

                <a href="<?php echo $download;?>"class="btn btn-success btn-xs pull-right"><i class="fa fa-download"></i> <?php echo $button_download; ?></a>

    </div>

    <div class="panel-body">

          <div class="form-group">

             <input type="text" name="project_customer" value="" placeholder="<?php echo $text_user; ?>" class="form-control" />





          </div>

        

    </div>

    <!--panel-body -->

  </div>

  <!--box -->

          

          

        <div class="box box-primary">

            <div class="box-header with-border">

              <h3 class="box-title"><?php echo $text_add_user; ?></h3>

            </div>

            <div class="panel-body" id="form-customer">

             <div class="form-group">

              <label class="control-label" for="customer_level_id"><?php echo $text_group; ?></label>

              <select name="customer_level_id" id="customer_level_id" class="form-control">

                <option value="0"><?php echo $text_select; ?></option>

                <?php foreach($customer_groups as $level){?>

                <option value="<?php echo $level['customer_level_id'];?>"><?php echo $level['level_name'];?></option>

                <?php } ?>  

              </select>

            </div>

              <div class="form-group">

                <label class="control-label" for="username"><?php echo $text_username;?></label>

                <div class="clearfix">

                  <input type="text" name="username" value="" placeholder="<?php echo $text_username;?>" id="username" class="form-control" />

                  <small>

                Không gõ khoảng trắng (space bar).

                </small>

                

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-fullname"><?php echo $text_fullname; ?></label>

                <div class="clearfix">

                  <input type="text" name="fullname" value="" placeholder="<?php echo $text_fullname; ?>" id="input-fullname" class="form-control" />

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-email"><?php echo $text_email; ?></label>

                <div class="clearfix">

                  <input type="text" name="email" value="" placeholder="<?php echo $text_email; ?>" id="input-email" class="form-control" />

                

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-password"><?php echo $text_password; ?></label>

                <div class="clearfix">

                  <input type="password" name="password" value="" placeholder="<?php echo $text_password; ?>" id="input-password" class="form-control" autocomplete="false" />

                 

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-confirm"><?php echo $text_password_confirm; ?></label>

                <div class="clearfix">

                  <input type="password" name="confirm" value="" placeholder="<?php echo $text_password_confirm; ?>" autocomplete="false" id="input-confirm" class="form-control" />

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-telephone"><?php echo $text_telephone; ?></label>

                <div class="clearfix">

                  <input type="text" name="telephone" value="" placeholder="<?php echo $text_telephone; ?>" id="input-telephone" class="form-control" />

                </div>

              </div>

              

              <div class="clearfix message">

              

              </div>

              

            </div>

            <div class="box-footer">

                <a onClick="addRoute('customer');" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i> <?php echo $button_add; ?></a>

            </div>

          </div>

          

           

        <div class="box box-primary">

            <div class="box-header with-border">

              <h3 class="box-title"><?php echo $text_add_group; ?></h3>

            </div>

            <div class="panel-body" id="form-level">

              <div class="form-group">

                <label class="control-label" for="level_name"><?php echo $text_group_name;?></label>

                <div class="clearfix">

                  <input type="text" name="level_name" value="" placeholder="<?php echo $text_group_name;?>" id="level_name" class="form-control" />

                

                

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="level_description"><?php echo $text_description; ?></label>

                <div class="clearfix">

                  <input type="text" name="level_description" value="" placeholder="<?php echo $text_description; ?>" id="level_description" class="form-control" />

                </div>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-sort_order"><?php echo $text_sort_order; ?></label>

                <div class="clearfix">

                  <input type="text" name="sort_order" value="" placeholder="<?php echo $text_sort_order; ?>" id="input-sort_order" class="form-control" />

                

                </div>

              </div>

             

             <div class="form-group">

              <label class="control-label" for="child_level_id"><?php echo $text_child_group; ?></label>

              <select name="child_level_id" id="child_level_id" class="form-control">

                <option value="0"><?php echo $text_select; ?></option>

                <?php foreach($customer_groups as $level){?>

                <option value="<?php echo $level['customer_level_id'];?>"><?php echo $level['level_name'];?></option>

                <?php } ?>  

              </select>

            </div>

              

              <div class="clearfix message">

              

              </div>

              

            </div>

            <div class="box-footer">

                <a onClick="addRoute('level');" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i> <?php echo $button_add; ?></a>

            </div>

          </div>

          

          

          <div class="box box-primary">

            <div class="box-header with-border">

              <h3 class="box-title"><?php echo $text_none_group_user; ?></h3>

            </div>

            <div class="panel-body" id="none_group_customer">

            </div>

          </div>

        </div>

        <!--//col -->

        <div class="col-sm-9">

          <?php

           foreach($customer_groups as $level){?>

          <div class="box box-primary" id="group<?php echo $level['customer_level_id'];?>">

            <div class="box-header with-border">

              <h3 class="box-title"><?php echo $level['customer_level_id']; ?> - <?php echo $level['level_name']; ?></h3>

              

        <div class="pull-right box-tools text-right">

                 <a type="button" onclick="editRoute('customer_level','<?php echo $level['customer_level_id']; ?>');" data-toggle="tooltip" title="<?php echo $button_edit;?>" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a> 

             </div> 

             

             

            </div>

            <div class="box-header no-border">



            <div class="clearfix" style="max-width:300px;">

            

              <select onchange="addUser('<?php echo $level['customer_level_id'];?>','0','<?php echo $level['customer_level_id']; ?>',this.options[this.selectedIndex].value);" class="form-control chosen" style="width:250px;">

                <option value="">--<?php echo $text_add;?> <?php echo $level['level_name']; ?>--</option>

                <?php foreach ($staff_customers as $staff) { ?>

                    <?php if($staff['status']==0||$staff['customer_level_id']==0) { ?>

                <option value="<?php echo $staff['customer_user_id'];?>"><?php echo $staff['fullname'];?></option>

                <?php } ?>

                <?php } ?>

              </select>

            </div>

            

            

            </div>

            <div class="panel-body">

           

              <table class="table" id="user_group<?php echo $level['customer_level_id'];?>">

                <?php foreach ($staff_customers as $user) { ?>





                <?php if($user['customer_level_id']==$level['customer_level_id']){?>

                <tbody>

                  <tr>

                    <td width="1">

                    <div class="img-thumbnail" title="<?php echo $user['customer_user_id']; ?> - <?php echo $user['fullname']; ?>"><img src="<?php echo $user['thumb'];?>" /></div>

                    

                    </td>

                    <td>

                      <span class="fullname"><?php echo $user['fullname'];?></span>

                       <?php if($user['customer_level_id']!=$config_customer_top){?>

                          <?php if(!empty($user['parent_fullname'])){?>

                          <small class="help"> &laquo; <?php echo $user['parent_fullname'];?></small>

                          <?php }else{?>

                          <span class="badge alert-error"> &laquo; Chưa có quản lý</span>

                          <?php } ?>

                      <?php } ?>

                       

                       

                      <br /> <span class="badge" data-toggle="tooltip" title="Last update: <?php echo $user['user_update'];?>"><?php echo $user['customer_user_id']; ?> - <?php echo $user['username'];?></span>







                    </td>



                    <td class="text-left">
                     <!--  <select class="form-control" onchange="updateRegion('<?=$user['customer_user_id']?>',this.value)">
                        <option value="">--Chọn Vùng--</option>
                      <?php foreach($regions as $region) { ?> 
                        <option value="<?=$region['region_code']?>" <?=$region['region_code'] == $user['region_code'] ? 'selected' : ''?>><?=$region['region_code']?></option>
                      <?php } ?>
                      </select>
                      <br> -->
                      <?php if($level['customer_level_id'] !=$config_customer_sup){?>

                    	<?php } ?>

                      <select onchange="addUser('<?php echo $user['customer_level_id']; ?>','<?php echo $user['customer_user_id']; ?>','<?php echo $level['child_level_id']; ?>',this.options[this.selectedIndex].value);" class="form-control chosen" style="width:250px;">

                        <option value="">--<?php echo $text_manager;?> <?php echo $level['child_level']; ?>--</option>

                        <?php foreach ($staff_customers as $staff) {?>

	              			<?php if(($staff['customer_level_id']==0||$staff['customer_level_id']==$level['child_level_id'])&&$staff['customer_parent_id']!=$user['customer_user_id']) { ?>

	 <option value="<?php echo $staff['customer_user_id'];?>"><?php echo $staff['fullname'];?></option>

	                        <?php } ?>

                        <?php } ?>

                      </select>

                    </td>

                    <td class="text-right">

                    

                 <span class="text-<?php echo ($user['status']==1)?'success':'danger';?>"><?php echo $user['text_status'];?></span> 

                  

                 <a type="button" onclick="editRoute('customer_user','<?php echo $user['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $button_edit;?>" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>  

                  <?php if(!empty($user['real_token'])){?>

         <a type="button" onclick="decodeVal('<?php echo $user['real_token']; ?>');" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></a>     

                   <?php } ?>

                    </td>

                    <td class="text-right">

           				 <?php if($user['status']==1){?>

                      <button type="button" onclick="deleteUser('<?php echo $level['customer_level_id'];?>','<?php echo $user['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $text_deactive;?>" class="btn btn-xs btn-danger"><i class="fa fa-minus-circle"></i></button>

                        <?php }else{ ?>

                       <button type="button" onclick="addUser('<?php echo $level['customer_level_id'];?>','<?php echo $user['customer_parent_id']; ?>','<?php echo $level['customer_level_id']; ?>','<?php echo $user['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $text_reactive;?>" class="btn btn-xs btn-success"><i class="fa fa-plus-circle"></i></button>

                        <?php } ?>

           <?php if($user['customer_level_id']!=$config_customer_sup){?>

                        <?php } ?>

                    </td>

                  </tr>

                  <!-- STAFF USER START -->



           <?php if($user['customer_level_id']!=$config_customer_sup){?>

                  <tr>

                    <td width="1">

                      &raquo; <?php echo $level['child_level'];?>

                    </td>

                    <td class="text-left" colspan="4">

                       

                    </td>

                  </tr>

                  <?php foreach ($staff_customers as $staff) {  ?>

                        <?php if($staff['customer_parent_id']==$user['customer_user_id']&&$user['customer_user_id']!=$staff['customer_user_id']){?>



                          <tr>

                    		<td width="1"></td>

                            <td> 

                           <span class="fullname"><?php echo $staff['fullname'];?></span> 

                           

                       <?php if($staff['customer_level_id']!=$config_customer_top){?>

                          <?php if(!empty($staff['parent_fullname'])){?>

                          <small class="help"> &laquo; <?php echo $staff['parent_fullname'];?></small>

                          <?php }else{?>

                          <span class="badge alert-error"> &laquo; Chưa có quản lý</span>

                          <?php } ?>

                      <?php } ?>                       

<br />

<span class="badge" data-toggle="tooltip" title="Last update: <?php echo $staff['user_update'];?>"><?php echo $staff['customer_user_id']; ?> -  <?php echo $staff['username'];?></span>  





                               </td>

                               <td>

                               </td>

                    <td class="text-right">

                 <span class="text-<?php echo ($staff['status']==1)?'success':'danger';?>"><?php echo $staff['text_status'];?></span> 



                 <a type="button" onclick="editRoute('customer_user','<?php echo $staff['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $button_edit;?>" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>  

                     <?php if(!empty($staff['real_token'])){?>

         <a type="button" onclick="decodeVal('<?php echo $staff['real_token']; ?>');" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></a>          

                     <?php } ?>

                            </td>

                            <td class="text-right"> <!--  -->

                            

                            <?php if($staff['status']==1){?>

                              <button type="button" onclick="deleteUser('<?php echo $level['customer_level_id'];?>','<?php echo $staff['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $text_deactive;?>" class="btn btn-xs btn-danger"><i class="fa fa-minus-circle"></i></button>

                        <?php }else{ ?>

                              <button type="button" onclick="addUser('<?php echo $level['customer_level_id'];?>','<?php echo $user['customer_user_id']; ?>','<?php echo $level['child_level_id']; ?>','<?php echo $staff['customer_user_id']; ?>');" data-toggle="tooltip" title="<?php echo $text_reactive;?>" class="btn btn-xs btn-success"><i class="fa fa-plus-circle"></i></button>

                        <?php } ?>

                        

                            </td>

                          </tr>

                        <?php } ?>

                        <?php } ?>

                        

                        <?php } ?>



                  <!-- STAFF USER START END -->

                </tbody>

                <?php } ?>

                <?php } ?>

                   <tfoot></tfoot>

              </table>

            </div>

            <div class="box-footer with-border">

            <div class="col-sm-9 message"></div>

            <div class="col-sm-3"></div>

            </div>

          </div>

          <?php

			} ?>

        </div>

        <!--//col -->

      </div>

      <!--//row -->

    </form>

  </div>

<div id="modal_edit" class="modal fade"></div>



<div id="modal-pass" class="modal fade">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        Vui lòng điền khóa bí mật:

      </div>

      <div class="modal-body">

        <div class="mpadding">

        

            <div class="input-group">

         <input type="text" name="hidden_key" value="" placeholder="Khóa bí mật" id="hidden_key" class="form-control">

 			<span class="input-group-btn">

              <input type="text" name="decode_val" value="" id="decode_val" class="form-control" style="min-width:400px; text-align:center;"/>

              </span>

         </div>

            

            

        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" aria-hidden="true" onclick="$('#hidden_key,#decode_val').val('');">Đóng</button>

        <a id="btn-modal-pass" class="btn btn-danger pull-right" style="margin-right:15px;">Tìm</a>

      </div>

    </div>

  </div>

</div>

<!--//module-modal -->





</div>







  <script type="text/javascript"><!--



    $('#none_group_customer').load('index.php?route=project/customer/customer_list');



  $('#filter-area input[name=\'project_customer\']').autocomplete({

      'source': function(request, response) {

          $.ajax({

              url: 'index.php?route=project/customer/autocomplete&filter_global=' + encodeURIComponent(request),

              dataType: 'json',

              success: function(json) {

                  response($.map(json, function(item) {

                      return {

                          label: item['username'] + ' - ' +item['fullname'],

                          value: item['customer_user_id'],

                      }

                  }));

              }

          });

      },

      'select': function(item) {

          editRoute('customer_user',item['value']);

      }

  });

  

function loadGroup(group_id){

		$('#group'+group_id).load('index.php?route=project/customer/load_group&customer_level_id='+group_id);

}	

function deleteUser(parent_group_id,customer_user_id){

	$.ajax({

        url:'index.php?route=project/customer/remove_customer&customer_user_id='+customer_user_id,

        dataType: 'json',

        success: function(json) {

			if(json['success']){

				loadGroup(parent_group_id);

				$('#none_group_customer').load('index.php?route=project/customer/customer_list');

			}

        }

    });

	  

}





function addUser(parent_group_id, customer_parent_id, customer_level_id, customer_user_id){

	$.ajax({

			type: 'POST',

			url: 'index.php?route=project/customer/add_customer',

			dataType: 'json',

			data: 'customer_parent_id=' + customer_parent_id+'&customer_level_id=' + customer_level_id+'&customer_user_id=' + customer_user_id,

			beforeSend: function(){

			},

			success: function(json) {

				if(json['success']){

					if(parent_group_id!=0){

						loadGroup(parent_group_id);	

					}else{

						loadGroup(customer_level_id);

					}

					$('#none_group_customer').load('index.php?route=project/customer/customer_list');

				}

        	}

    });

}



function addRoute(route){

	  var group_form = '#form-'+route;

	  var customer_level_id = $('#form-'+route +' select[name=\'customer_level_id\']').val();;

		$.ajax({

		  url:'index.php?route=project/customer/new_'+route,

		  type: 'POST',

		 dataType: 'json',

		  data: $(group_form+' input[type=\'text\'],'+group_form+' input[type=\'password\'],'+ group_form+' input[type=\'hidden\'],'+group_form+' input[type=\'radio\']:checked,'+group_form+' input[type=\'checkbox\']:checked,'+group_form+' select,'+group_form+' textarea'),

		  success: function(json) {

				if(json['success']){

					$('#group'+customer_level_id).load('index.php?route=project/customer/load_group&customer_level_id='+customer_level_id);

					$(group_form+' input[type=\'text\']').val('');

				}

				if(json['redirect']) {

					location = json['redirect'];

				}

				if(json['error']){

					$('#form-'+route+ ' .message').html('<div class="alert alert-danger alert-sm"><i class="fa fa-check-circle"></i> '+json['error']+'<button type="button" class="close" data-dismiss="alert">×</button></div>');

					

				}

			

		  }

		});

}



function editRoute(route,route_id){

	   $.ajax({

			  url: 'index.php?route=project/customer/edit_'+route+'&'+route+'_id='+route_id,

			  dataType: 'html',

			  beforeSend: function(){},

			  success: function(html) {

				$('#modal_edit').html(html);

				$('#modal_edit').modal('show');

				$('#modal_edit .chosen').chosen({height: "120px",width: "100%"});

				

			  }

		});

}

function saveRoute(route,route_id,parent_group_id){

	$('#modal_edit').modal('hide');

	$.ajax({

		url: 'index.php?route=project/customer/save_'+route+'&'+route+'_id='+route_id,

	 type: 'POST',

	 dataType: 'json',

	  data: $('#modal_edit input[type=\'text\'],#modal_edit input[type=\'password\'],#modal_edit input[type=\'hidden\'],#modal_edit input[type=\'radio\']:checked,#modal_edit input[type=\'checkbox\']:checked,#modal_edit select,#modal_edit textarea'),

	  

	 beforeSend: function(){},

	  success: function(json) {

			

		if(json['success']) {

			$('#none_group_customer').load('index.php?route=project/customer/customer_list');

			$('#group'+parent_group_id).load('index.php?route=project/customer/load_group&customer_level_id='+parent_group_id);

		}

		if(json['redirect']) {

			location = json['redirect'];

		}

		if(json['error']) {

			$('#modal_edit .message').html('<div class="alert alert-danger alert-sm"><i class="fa fa-check-circle"></i> '+json['error']+'<button type="button" class="close" data-dismiss="alert">×</button></div>');

		}

	  }

	});

  }

  function updateRegion(customer_user_id, region_code) {
    $.get('index.php?route=project/customer/updateRegion&customer_user_id='+customer_user_id+'&region_code='+region_code, function(data){

    })
  }

    //-->

  </script>

  