
<!-- Your Page Content Here -->

  <div class="container-fluid">

    <?php if ($error_warning) { ?>

    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>

      <button type="button" class="close" data-dismiss="alert">&times;</button>

    </div>

    <?php } ?>

    <div class="box">

      <div class="box-header">

        <h2 class="box-title"> <?php echo $heading_title; ?></h3>
        
        <div class="pull-right box-tools text-right">
        <button type="submit" form="form-code" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>

        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_back; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>

      </div>

      <div class="panel-body">

        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-code" class="form-horizontal">

        

          <div class="form-group required">

            <label class="col-sm-2 control-label" for="input-prefix_title"><?php echo $text_title; ?></label>


            <div class="col-sm-10">

              <input type="text" name="prefix_title" value="<?php echo $prefix_title; ?>" placeholder="<?php echo $text_title; ?>" id="input-prefix_title" class="form-control" />

            </div>

          </div>

          <div class="form-group required">

            <label class="col-sm-2 control-label" for="input-name"><?php echo $text_coupon_prefix; ?></label>


            <div class="col-sm-10">

              <input type="text" name="coupon_prefix" value="<?php echo $coupon_prefix; ?>" placeholder="<?php echo $text_coupon_prefix; ?>" id="input-code" class="form-control" />

            </div>

          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-code"><?php echo $text_prefix_value; ?></label>

            <div class="col-sm-10">

              <input type="text" name="prefix_value" value="<?php echo $prefix_value; ?>" placeholder="<?php echo $text_prefix_value; ?>" id="input-name" class="form-control" />

              <?php if ($error_prefix_value) { ?>

              <div class="text-danger"><?php echo $error_prefix_value; ?></div>

              <?php } ?>

            </div>

          </div>

          
          

        </form>

      </div>

    </div>

  </div>

</div>

</section>

    <!-- /.content -->