<?php if(!empty($plans)){?>
<div class="row text-center">
<?php foreach($plans as $plan){?>
<div class="col-sm-3">
  <a href="<?php echo $plan['popup']; ?>" class="img-thumbnail store_image"><img width="60" src="<?php echo $plan['store_image']; ?>" /></a><br/> 
  <a href="<?php echo $plan['edit']; ?>" target="_blank"><?php echo $plan['round_name']; ?></a>

</div>
<?php } ?>
</div>
<?php } ?>