<div class="form-line">

<textarea wrap="off" style="resize:none; width: 100%; height: 100%; padding: 5px; border: 1px solid #CCCCCC; background: #FFFFFF; overflow: scroll;"><?php echo $log; ?></textarea></div>