<?php echo $header;?>
<style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
	 border-top: 16px solid blue;
	 border-bottom: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
	margin:0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>

  <div class="page-header">
    <div class="container-fluid">
      
      <div class="text-center">
      
      <h1>  ... đang xử lý! </h1>
      <div class="loader"></div>
      
      
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function(){
	location = '<?php echo $callback;?>';
});

//--></script>

</html>